<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='mystyle.css') }}">
    <title>Classevy 0.1</title>
    {% endblock %}
    <h1>{% block title %}{% endblock %}</h1>
    <form action="{{url_for('upload_file')}}">
        <input type="submit" value="Restart" />
    </form>
    <br>
</head>
<body>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="prints">{{string_to_print | safe}}</div>
    <br>
    <div id="footer">
        {% block footer %}
        &copy; Copyright 2022 by Maarten Tytgat.
        <br>
        Find the source code on github:
        <a href="https://github.com/mtyt/classevy" target="_blank">github.com/mtyt/classevy</a>.
        {% endblock %}
    </div>
</body>
</html>
