{% extends "base.html" %}
{% block title %}Choose optimization goals{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
    
{%block content %}
{{students | safe}}
<p>Theoretically achievable best targets for optimization:</p>
{{target_limits | safe}}
<p>These targets could be reached if each goal was optimized regardless of the other goals
    or even together/not_together/preferences constraints.
    Note that due to correlations in data, some goals may counteract each other.
    Or if for instance the number of boys and girls are both odd, there's an inherent tension
    between class size and average gender. Take the example of 5 and 5: average gender
    being equal in both classes would lead to 2 boys + 2 girls and 3+3.
</p>
<p>Select the goals to opmize:</p>
<form method="post">
    {% for name, value in options.items() %}
    <input type="checkbox" id={{name}} name={{name}} value={{value}} checked>
    <label for={{name}}>{{value}}</label><br>
    <br>
    {% endfor %}
    <p>Optionally, tune the settings for the Optimization algorithm.</p>
    <label for="n_gen">Number of generations:</label>
    <input type="text" id="n_gen" name="n_gen" value="10" required>
    <label for="n_pop">Population size:</label>
    <input type="text" id="n_pop" name="n_pop" value="15" required>
    <button type="submit">Confirm</button>
</form>
{% endblock %}