{% extends "base.html" %}
{% block title %}Running optimization...{% endblock %}
{% block head %}
    {{ super() }}
<script>
    function navigate() {
        window.location.href = 'done';  // Redirects user to the /map route when 'run' is finished
    }
    fetch('run').then(navigate)
</script>
{% endblock %}
{%block content %}
<div class="loader"></div>
    Running Algorithm with these goals:

    <p>
        {% for name, value in selected_goals.items() %}
        {{name}}: {{value}} <br>
        {% endfor %}
    </p>
{% endblock %}