<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

<script>
    function navigate() {
        window.location.href = 'done';  // Redirects user to the /map route when 'run' is finished
    }
    fetch('run').then(navigate)
</script>
</head>
<body>
    <div class="loader"></div>
    Running Algorithm with these goals:

    <p>
        {% for name, value in selected_goals.items() %}
        {{name}}: {{value}} <br>
        {% endfor %}
    </p>
</body>
</html>